
Attachment create.txt successfully uploaded and added.Conversation opened. 1 unread message.

Skip to content
Using IIT Hyderabad Mail with screen readers
Search



Mail
COMPOSE
Labels
Inbox (1,840)
Starred
Sent Mail
Drafts (49)
popl_rk_sir
More 
Hangouts

 
 
  More 
1 of 2,613  
 
Print all In new window
(no subject) 
Inbox
x 

Puppala Deepika
Attachments10:31 PM (2 minutes ago)

to me 
Attachments area
	
Click here to Reply or Forward
Using 1.96 GB
Manage
Program Policies
Powered by Google
Last account activity: 40 minutes ago
Details
Puppala Deepika
Add to circles

Recent photos
View photo in messageView photo in message
Show details


Compose:
New Message
MinimizePop-outClose
Recipients

Subject
Respected Sir,

               We are glad to inform you that 
Send	
 
 
 
 
 
 
Saved
 
img { 
   border:5px solid #ffffff;
}
.active_img
{
	border:5px solid #00CC33;
}
a
{
color:#78300B;
display:block;
font-size:60px;
height:70px;
position:relative;
text-decoration:none;
text-shadow:0 1px #fff;
width:70px;
}
#chess_board a.black:hover,
#chess_board a.white:hover
{
    display:block;
    font-size:61px;
    color:#78300B;
    height:70px;
    position:relative;
    text-decoration:none;
    text-shadow:0 1px #fff;
    width:70px;
    background: yellow;
    cursor: pointer;
}
#chess_board a.non
{
    background:green;
}
.none{
    
    
}
#chess_board a.notice
{
    height:70px;
    position:relative;
    text-decoration:none;
    text-shadow:0 1px #fff;
    background:red;
    /*-webkit-transition-duration:5s;
    //transition-duration:100s;*/
}
#chess_board 
{
	border:5px solid #800000;
}
#chess_board td 
{    
background:#FFFFE0;
/*background:-moz-linear-gradient(top, #eee, #eee);
background:-webkit-gradient(linear,0 0, 0 100%, from(#eee), to(#eee));
box-shadow:inset 0 0 0 1px #eee;
-moz-box-shadow:inset 0 0 0 1px #eee;
-webkit-box-shadow:inset 0 0 0 1px #eee;*/
height:70px;
text-align:center;
vertical-align:middle;
width:70px;
}
#chess_board tr:nth-child(even) td:nth-child(odd),
#chess_board tr:nth-child(odd) td:nth-child(even) 
{
background:#E4CDA2;/*
background:-moz-linear-gradient(top, #ccc, #eee);
background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
box-shadow:inset 0 0 10px rgba(0,0,0,.4);
-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);*/
}
